# Real-world Data Wrangling

## 1. Gather data

### **1.1.** Problem Statement

 *The City of Vancouver tracks not only every animal that comes into its shelters, but also those that are reported as lost by their owners. While the city does track those that are matched back to their owner, is it possible that an animal still tracked as lost has possibly been accounted for? If so, is it possible to find somewhat reliable means to match animals based on data entered into a report for lost ones?*

### **1.2.** Gather at least two datasets using two different data gathering methods

#### City of Vancouver Animal Control Inventory - Lost and Found

This dataset is information from the City of Vancouver where an owner of an animal has reported them as lost. It also tracks those that were either reported as found or were matched by the shelter back to the owner. 

I chose this dataset because it will address what animals were reported as lost within the city. This does not cover every animal that was lost, however it does provide a large sample size for this metro area.

Further information on the dataset can be found [here](https://opendata.vancouver.ca/explore/dataset/animal-control-inventory-lost-and-found/information).

Type: JSON

Method: This data was gathered by querying the City of Vancouver's database with the standard Opendatasoft API. I am doing it this way because the data is updated daily, and this guarantees that the most up-to-date information will be used.

Dataset variables:

- *breed* - type of animal or breed that fits best.
- *color* - color of the animal's coat/fur.
- *date* - date that the animal was lost
- *name* - the given name of the animal being tracked (if known).
- *sex* - used to label the biological sex of the animal, as well as if they are spayed or neutered (marked with `F/S` or `M/N` accordingly). `X` = unknown
- *state* - the last state of being for the animal, i.e. `matched` or `lost`.

After some poking around, I found out that without a `group by` statement, the server only returns 100 results. By including a `group by` statement for all of the fields, this should theoretically drop duplicate values. I'm also filtering out anything before `1998-10-03`, as this is the earliest `DateImpounded` timestamp in the other dataset that will be used.

In [1669]:
import requests
import pandas as pd
import datetime

# "lf" is for *l*ost and *f*ound
lf_api_query = "https://opendata.vancouver.ca/api/explore/v2.1/catalog/datasets/animal-control-inventory-lost-and-found/records?where=date%20%3E%20%221998-10-02%22&group_by=date%2C%20breed%2C%20color%2C%20name%2C%20sex%2C%20state&order_by=date&limit=-1"
lf_data = requests.get(lf_api_query)
lf_data.raise_for_status()

In [1670]:
lf_json = lf_data.json()

print(lf_json.keys())
print(lf_json['total_count'])

lf_json['results'][0:3]
print(type(lf_json['results']))     # all elements
print(type(lf_json['results'][0]))  # individual element

dict_keys(['total_count', 'results'])
17855
<class 'list'>
<class 'dict'>

Based on our mild digging above, we would want to load specifically the data in the `results` key as a Pandas DataFrame, since `results` is simply a `list` of `dict`'s, which Pandas.DataFrame's constructor can handle.

In [1671]:
lf_df = pd.DataFrame(lf_json['results'])

#### City of Vancouver Animal Control Inventory - Register

This dataset is a "general record of each animal that has come into the custody" the City of Vancouver's animal control service.

I chose this dataset to have a record to compare all of the lost and found animals to in the event an animal is reported as lost and the City of Vancouver happens to have them, or someone very much like them, already processed into their database.

Like with the lost and found dataset, this data is updated daily. Because I must choose a different method to pull this data, I will download it programatically, as well as in CSV format just to make sure I cover all bases for this project.

Type: Semicolon (`;`) delimited "CSV" file.

Method: Programatic download via HTTP GET request

Dataset variables:

- *AnimalID* - Unique sequential number given to each entry.
- *Breed* - Type of animal.
- *ShotsDate* - Date when vaccinated.
- *Sex* - M = Male, F = Female, M/N = Male Neutered, F/S = Female Spayed.
- *ReceiptNumber* - Point of sales system of record receipt number.
- *DateImpounded* - Date first in custody of the City of Vancouver.
- *PitNumber* - Number identifying animal kennel, does not change while in custody of the city.
- *Name* - Name if known.
- *KennelNumber* - Kennel number displayed at the top of each kennel.
- *DispositionDate* - Date when animal was no longer under the control of the city.
- *Color* - Color of coat.
- *Code* - Walk-ability index (*Green = easy, Yellow = moderate, Blue = hard*).
- *ApproxWeight* - Approximate weight of animal.
- *Age category* - Rough estimate of age - puppy, young adult, adult, senior.
- *Source* - Where the animal came from (Brought-in, Holding stray, Transferred).
- *Status* - Current state/disposition of animal.
- *ACO* - Animal control officer number or initials of employee.

In [1672]:
# "reg" is for registry
reg_url = "https://opendata.vancouver.ca/api/explore/v2.1/catalog/datasets/animal-control-inventory-register/exports/csv?lang=en&timezone=America%2FChicago&use_labels=true&delimiter=%3B"
reg_data = requests.get(reg_url)
reg_data.raise_for_status()

In [1673]:
# Save contents to a file labeled with today's date.
file_dl_date = datetime.date.today()
filename = f"vancouver-ac-registry_{file_dl_date.strftime('%Y%m%d')}.csv"
relativepath = "./datasets/" + filename

# Write dataset JSON stored as binary to target file
with open(relativepath, mode="wb") as f:
    f.write(reg_data.content)

We'll make the `AnimalID` column our index column for our DataFrame since it's essentially a built-in order for the animals. Following this, we'll start assessing our data.

In [1674]:
reg_df = pd.read_csv(relativepath, sep=";", index_col='AnimalID')

## 2. Assess data

When we are assessing data, we are on the lookout for **quality** and **tidiness** (structural) issues.

**Quality Issues:**
- Completeness - The collected data is sufficient for addressing specific problems.
- Validity - Data conforms to the defined schema.
- Accuracy - Data accurately represents the reality it is describing.
- Consistency - A standard format is followed. Data matches that which can be found in other sources.
- Uniqueness - non-duplicate or overlapping values in the data.

**Tidiness Issues:**
- Each variable forms an individual column, i.e. color, name, birth year, etc. 
  - This also means that each column only contains one variable, or "factor that varies."
- Each observation forms an individual row, i.e. red, Scott, 1997, etc.
  - As with columns, only a single observation per row.
- Each type of observational unit forms a table, i.e. a table of immediate family members.

### Quality Issue 1:

We'll use the `.head()` and `.tail()` methods to quickly browse the dataset for anything that sticks out. This helps us ensure completeness to some degree, as well as validity and consistency.

In [1675]:
# Inspecting the dataframe visually
lf_df.head()

                        date          breed         color   name  sex  state
0  1999-01-03T00:00:00+00:00   Rotty X Shep   Black & Tan    Tex  M/N   Lost
1  1999-01-04T00:00:00+00:00            Dog  Light Colour   None  M/N  Found
2  1999-01-04T00:00:00+00:00   Golden Lab X   Black & Tan  Oscar    M   Lost
3  1999-01-04T00:00:00+00:00         Shep X   Black & Tan   None    F  Found
4  1999-01-04T00:00:00+00:00  Shep X Collie   Black & Tan  Angel    F   Lost

In [1676]:
lf_df.tail()

,date,breed,color,name,sex,state
17850,2025-07-29T00:00:00+00:00,Basenji,Black & White body,Winston,M/N,Matched
17851,2025-07-29T00:00:00+00:00,Cat - DLH - Orange Tabby,Orange,Celia,F,Lost
17852,2025-07-29T00:00:00+00:00,Pug/Chihuahua X,Tan,Opie,M,Lost
17853,2025-07-30T00:00:00+00:00,CAT - DLH - Calico,Orange/white/black,Olive,F/S,Lost
17854,2025-07-30T00:00:00+00:00,Cat - DSH - Tuxedo,Black & White,Socks,M/N,Lost

In [1677]:
lf_df.sample(5)  # random sampling to see if anything else jumps out

,date,breed,color,name,sex,state
5482,2004-02-10T00:00:00+00:00,Shep X Malamute,White,Tamu,M/N,Matched
13120,2017-10-19T00:00:00+00:00,Cat - DLH,Black w/white paws & chest,Kiki or Pippin,M/N,Lost
10702,2014-09-24T00:00:00+00:00,Tabby cat,Grey,Petey,F,Lost
269,1999-04-25T00:00:00+00:00,Pom,Orange,Popeye,M/N,Lost
7654,2006-07-14T00:00:00+00:00,Lab,Black,Frankie,M/N,Matched

Thankfully, there are no duplicate entries in this data (as of 20250723), indicating each row has "uniqueness."

In [1678]:
lf_df.duplicated().value_counts()

False    17855
Name: count, dtype: int64

There are a lot of colors in the `color` column, which indicates potential a lack of consistency and validity.

In [1679]:
print("There are", lf_df['color'].unique().shape[0], "unique strings in the color column.")

There are 3407 unique strings in the color column.

One prime example is this hamster, which has `Golden/Blonde` fur. This indicates there is not a standardized process for determining and labeling fur color.

In [1680]:
lf_df.iloc[16633]

date     2023-06-26T00:00:00+00:00
breed                      Hamster
color                Golden/Blonde
name                        Chivis
sex                              M
state                         Lost
Name: 16633, dtype: object

I am also curious about how many of those colors have consistency issues, for example using an ampersand instead of an "and". The use of slashes may also indicate `color` labeling similar to `Chivis`, as seen immediately above.

In [1681]:
num_colors_amp = pd.Series(lf_df.color.unique()).str.contains(r'&', na=False).value_counts().iloc[1]
num_colors_and = pd.Series(lf_df.color.unique()).str.contains(r' and ', na=False).value_counts().iloc[1]
num_colors_fwdsl = pd.Series(lf_df.color.unique()).str.contains(r'/', na=False).value_counts().iloc[1]

print(num_colors_amp, "unique color strings contain '&' in the color description while", num_colors_and, "contain 'and'.")
print(num_colors_fwdsl, " unique colors contain a forward slash (/).")

1152 unique color strings contain '&' in the color description while 191 contain 'and'.
1344  unique colors contain a forward slash (/).

Issue and justification: Aside from lacking completeness, a lot of the columns do not have a consistent format:
Currently, "&" is primarily used in place of "and" in the `color` column. This matters when trying to answer our question as this means that matching based on `color` will different approaches (fuzzy matching, tokenization, etc.). 

As a side note, the formatting in the `breed` column is also quite inconsistent, but this is addressed further in the tidiness section.

### Quality Issue 2:

We'll do a head, tail, and sample again.

In [1682]:
reg_df.head()

,Breed,ShotsDate,Sex,ReceiptNumber,DateImpounded,PitNumber,Name,KennelNumber,DispositionDate,Color,Code,ApproxWeight,Age category,Source,Status,ACO
AnimalID,,,,,,,,,,,,,,,,
1893,Terrier X,NaN,M/N,10322wrs,2000-04-11,20073.0,Toby,200,NaN,Tan,NaN,NaN,NaN,HOLDING STRAY,Redeemed,22
1894,Shep,NaN,M,NaN,2000-04-11,20018.0,Adolf,200,NaN,Tan Black,NaN,NaN,NaN,POLICE-NIGHT,Owner Request - Signed Over,5
1895,Shepherd,NaN,F/S,10325-TU,2000-04-12,20068.0,Pepsi,200,NaN,Black,NaN,NaN,NaN,HOLDING STRAY,Redeemed,1
1903,Chow,NaN,M,"10335,MC",2000-04-13,20071.0,Chewy,200,NaN,Tan,NaN,NaN,NaN,HOLDING STRAY,Redeemed,8
1925,Shep X,NaN,F,no charge,2000-04-19,20048.0,NaN,200,NaN,Black,NaN,NaN,NaN,HOLDING STRAY,Redeemed,15

In [1683]:
reg_df.tail()

,Breed,ShotsDate,Sex,ReceiptNumber,DateImpounded,PitNumber,Name,KennelNumber,DispositionDate,Color,Code,ApproxWeight,Age category,Source,Status,ACO
AnimalID,,,,,,,,,,,,,,,,
14665,Akita,2008-11-12,F/S,N/C,2006-12-13,20005.0,Jojo,200,NaN,Brown & Grey,NaN,60lb,NaN,BROUGHT-IN,Redeemed,NaN
14667,Terrier X,2006-12-30,M/N,23124dk,2006-12-19,20029.0,Sandy,200,NaN,White & Black,NaN,15 lbs,NaN,POLICE-NIGHT,Redeemed,12
14668,Guinea Pig,NaN,M,N/C,2006-12-21,10000.0,Red Eye Jack,100,NaN,Brown & White,NaN,2 lbs,NaN,HOLDING STRAY,Transferred,22
14671,German Shepherd X Lab,2006-12-28,F/S,22976 - skj,2006-12-24,20077.0,Cane (light pink collar),200,NaN,Tan w Black Muzzle,NaN,15 lbs,NaN,HOLDING STRAY,Sold,12
14676,German Shepherd,NaN,F,23046 Jn12,2007-01-01,20082.0,Ruby,200,NaN,Black & Tan,NaN,65 lbs,NaN,HOLDING STRAY,Redeemed,NaN

In [1684]:
reg_df.sample(5)

,Breed,ShotsDate,Sex,ReceiptNumber,DateImpounded,PitNumber,Name,KennelNumber,DispositionDate,Color,Code,ApproxWeight,Age category,Source,Status,ACO
AnimalID,,,,,,,,,,,,,,,,
21776,Lab cross,NaN,F,NaN,2011-03-24,200.0,Meagan,26,2011-03-25,Black,NaN,40,NaN,HOLDING STRAY,Ride Home Free,3
7211,Husky X,NaN,M/N,14347 ks,2002-12-08,20066.0,Rocky (Tyrone),200,NaN,Brown & Black,NaN,NaN,NaN,HOLDING STRAY,Sold,9
8713,Shep X,NaN,M/N,NaN,2004-05-02,40002.0,NaN,400,NaN,Tan & Black & White,NaN,70 lbs,NaN,HOLDING STRAY,Ride Home Free,17
7060,NaN,NaN,NaN,NaN,1998-10-03,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
25153,Bichon Frise,NaN,M/N,14-221716 - DIAK,2014-04-19,NaN,Phin,200,2014-04-20,Brown,NaN,NaN,Adult,HOLDING STRAY,Redeemed,27

Since there are duplicates, we will need to drop those.

In [1685]:
reg_df.duplicated().value_counts()

False    26059
True        41
Name: count, dtype: int64

Using the results from the `.info()` method, we can quickly visually parse about how many null values there are per column.

In [1686]:
reg_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26100 entries, 1893 to 14676
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Breed            26092 non-null  object
 1   ShotsDate        3753 non-null   object
 2   Sex              25813 non-null  object
 3   ReceiptNumber    21694 non-null  object
 4   DateImpounded    26100 non-null  object
 5   PitNumber        17763 non-null  float64
 6   Name             23348 non-null  object
 7   KennelNumber     26079 non-null  object
 8   DispositionDate  12333 non-null  object
 9   Color            26055 non-null  object
 10  Code             1173 non-null   object
 11  ApproxWeight     11644 non-null  object
 12  Age category     8049 non-null   object
 13  Source           24126 non-null  object
 14  Status           26091 non-null  object
 15  ACO              21322 non-null  object
dtypes: float64(1), object(15)
memory usage: 3.4+ MB

`Age category` is the only column with a space character, as well as not being in `CamelCase`. Additionally, these columns are `CamelCase` instead of all lowercase, like the column labels in the `lost and found` dataset.

In [1687]:
reg_df['Age category'].value_counts()   # Puppy being a category assumes the animal is a dog

C:\Users\Ethan\AppData\Roaming\Python\Python310\site-packages\IPython\core\displayhook.py:281: UserWarning: Output cache limit (currently 1000 entries) hit.
Flushing oldest 200 entries.
  warn('Output cache limit (currently {sz} entries) hit.\n'

Age category
Adult          4916
Young Adult    1552
Senior         1133
Puppy           448
Name: count, dtype: int64

Issue and justification: Immediately, we can see that there are a lot of null values, especially for `Code`, `ShotsDate`, and `Age category` columns. Each of those have no more than about 30% of the values filled. It would be difficult, however, to infer anything to answer our question using any of these columns. 

The best columns would probably be `name`, `color`, `sex`, and `breed` for making inferences, so this means we can probably just drop the columns that are mostly null. For `name` and the other column.s previousy mentioned, we can probably just replace the null values with something like "Unknown"

All of these null values make correlating animals together based on similar factors less reliable, especially if something critical like the name isn't disclosed or the color is not reported as the staff intaking animals would describe. Names are also likely the highest differentiator between two animals with similar breeds and coat colors, as well.

There are also duplicate values, but those will be easy to handle. The biggest issue I feel is the insane abundance of missing values.

### Tidiness Issue 1:

I'm of the opinion that validating the 3 qualities of tidiness is most easily began visually with `.head()/.tail()`, then drilling down programatically with `.value_counts()`, queries, `.columns`, and more.

In [1688]:
lf_df.head()  # lets ground overselves in the data again

                        date          breed         color   name  sex  state
0  1999-01-03T00:00:00+00:00   Rotty X Shep   Black & Tan    Tex  M/N   Lost
1  1999-01-04T00:00:00+00:00            Dog  Light Colour   None  M/N  Found
2  1999-01-04T00:00:00+00:00   Golden Lab X   Black & Tan  Oscar    M   Lost
3  1999-01-04T00:00:00+00:00         Shep X   Black & Tan   None    F  Found
4  1999-01-04T00:00:00+00:00  Shep X Collie   Black & Tan  Angel    F   Lost

In [1689]:
lf_df.tail()

,date,breed,color,name,sex,state
17850,2025-07-29T00:00:00+00:00,Basenji,Black & White body,Winston,M/N,Matched
17851,2025-07-29T00:00:00+00:00,Cat - DLH - Orange Tabby,Orange,Celia,F,Lost
17852,2025-07-29T00:00:00+00:00,Pug/Chihuahua X,Tan,Opie,M,Lost
17853,2025-07-30T00:00:00+00:00,CAT - DLH - Calico,Orange/white/black,Olive,F/S,Lost
17854,2025-07-30T00:00:00+00:00,Cat - DSH - Tuxedo,Black & White,Socks,M/N,Lost

Based on the output above, the columns are each a distinct type of variable. It does seem, however, some columns store multiple variables in a single datapoint, especially `sex`, which indicates the reproductive sterility of an animal. This column, and another to be investigated further below, can be split into additional columns.

In [1690]:
lf_df.sex.value_counts()

sex
M      5103
M/N    4558
F      3902
F/S    3684
X       216
Name: count, dtype: int64

In [1691]:
print("There are", lf_df.breed.unique().shape[0], "unique breeds in the dataset.")

breed_s = pd.Series(lf_df.breed.unique()).sort_values(na_position='first', ignore_index=True)
breed_s.head()

There are 4046 unique breeds in the dataset.

0                            None
1          (Miniature) Pomeranian
2              .Unknown Breed Mix
3      1 Pit Bull & 1 Terrier mix
4    1 Pitbull & 1 Bernese/Poodle
dtype: object

In [1692]:
breed_s.tail(10)

4036    stratfordshire terrier
4037                     tabby
4038    tabby Grey black brown
4039       tabby short haireds
4040               terrier (?)
4041                 terrier X
4042             terrier X pug
4043      very small ( 5 lbs )
4044             westy terrier
4045              yorkie cross
dtype: object

In [1693]:
breed_s.str.extractall("(.*\d.*)")

                                         0
     match
3    0          1 Pit Bull & 1 Terrier mix
4    0        1 Pitbull & 1 Bernese/Poodle
5    0                 1/2 Pit & 1/2 Presa
6    0                          2 Dachunds
7    0                    2 Great Pyrenese
...                                    ...
3645 0                    Staff Terrier #2
3667 0      Stafforshire Terrier 14 months
3978 0      lab  and 2nd dog German Sheper
4034 0        small dog Benji type (10lbs)
4043 0                very small ( 5 lbs )

[121 rows x 1 columns]

Issue and justification: It seems the `breed` column could be useful for finding single rows with multiple animals reported (e.g., `1 Pit Bull & 1 Terrier mix`). A more tidy way to do this would be splitting those out into separate rows. If the report needs to be associated with those from the same report, there can be a report ID that all applicable reports share, however I will not need that information to answer my question.

By having multiple animals in one row, this not only inaccurately represents the number of animals reported missing, but also makes grouping or filtering by the reported breed unreliable.

The `sex` column could also be split into two columns, where one solely stores the biological sex of the animal and the other stores if they are neutered or spayed. This can just be a boolean value for simplicity's sake.

### Tidiness Issue 2:

In [1694]:
reg_df.head()

,Breed,ShotsDate,Sex,ReceiptNumber,DateImpounded,PitNumber,Name,KennelNumber,DispositionDate,Color,Code,ApproxWeight,Age category,Source,Status,ACO
AnimalID,,,,,,,,,,,,,,,,
1893,Terrier X,NaN,M/N,10322wrs,2000-04-11,20073.0,Toby,200,NaN,Tan,NaN,NaN,NaN,HOLDING STRAY,Redeemed,22
1894,Shep,NaN,M,NaN,2000-04-11,20018.0,Adolf,200,NaN,Tan Black,NaN,NaN,NaN,POLICE-NIGHT,Owner Request - Signed Over,5
1895,Shepherd,NaN,F/S,10325-TU,2000-04-12,20068.0,Pepsi,200,NaN,Black,NaN,NaN,NaN,HOLDING STRAY,Redeemed,1
1903,Chow,NaN,M,"10335,MC",2000-04-13,20071.0,Chewy,200,NaN,Tan,NaN,NaN,NaN,HOLDING STRAY,Redeemed,8
1925,Shep X,NaN,F,no charge,2000-04-19,20048.0,NaN,200,NaN,Black,NaN,NaN,NaN,HOLDING STRAY,Redeemed,15

In [1695]:
reg_df.sort_index().head()

,Breed,ShotsDate,Sex,ReceiptNumber,DateImpounded,PitNumber,Name,KennelNumber,DispositionDate,Color,Code,ApproxWeight,Age category,Source,Status,ACO
AnimalID,,,,,,,,,,,,,,,,
1,Pit Bull,2005-06-18,M/N,17057 ks,2005-06-12,20038.0,Taz,200,NaN,Tan,NaN,45,NaN,HOLDING STRAY,Sold,3
2,English Setter,NaN,M/N,20372 BC3,2006-03-19,20041.0,Dudley,200,NaN,White & Brown,NaN,100lbs,NaN,HOLDING STRAY,Redeemed,NaN
3,Lab X,NaN,M/N,N/C BC,2006-07-24,40041.0,Evander,400,NaN,Black,NaN,NaN,NaN,HOLDING STRAY,Ride Home Free,5
4,Pomeranian,NaN,M,"22171,MC",2006-09-08,20017.0,Chewbaca,200,NaN,Brown,NaN,10 lbs.,NaN,HOLDING STRAY,Redeemed,14
5,American Bulldog X,2006-10-07,M/N,22565 - skj,2006-09-06,20053.0,Cadillac,200,NaN,White with Brown Patch on Eye,NaN,80 lbs,NaN,HOLDING STRAY,Sold,22

Skimming through the breed column revealed multiple occurrences of a string like "`<breed-name> X`". Immediately, I am unsure what this may indicate, but I have a presumption that I will elaborate upon when I describe the issue I'll be addressing with this dataset.

In [1696]:
reg_df.query('AnimalID == 3').iloc[0]  # iloc will return a series, which is a bit easier to read for a single row

Breed                       Lab X
ShotsDate                     NaN
Sex                           M/N
ReceiptNumber              N/C BC
DateImpounded          2006-07-24
PitNumber                 40041.0
Name                      Evander
KennelNumber                  400
DispositionDate               NaN
Color                       Black
Code                          NaN
ApproxWeight                  NaN
Age category                  NaN
Source              HOLDING STRAY
Status             Ride Home Free
ACO                             5
Name: 3, dtype: object

Looking a little further, it looks like `Lab X` is incredibly common.

In [1697]:
reg_df['Breed'].str.extractall("(.*[lL]ab.*)").value_counts()

0
Lab X                     872
Lab                       571
Labrador                  495
Labrador X                 78
Shep X Lab                 78
                         ...
Black Lab X Pit             1
Black Lab/GSD               1
Black X Lab                 1
Heeler X Lab X Bassett      1
rotty X lab                 1
Name: count, Length: 490, dtype: int64

Issue and justification: There are a few places where some improvements can be made. 
- `Name` - Some rows contain "`(New name)`," which is tracking two factors of data in a single column.
  - This could be resolved with another column of boolean values, but I do not think it will be entirely necessary for our cause. Therefore, we will remove occurrences of `(New name)`
- `Breed` - Some breeds have "`mix`" while others have "`X`". Presumably, `X` is also for "mix," but this is merely an assumption. 
  - Additionally, `Black Lab` is not a breed, the breed is Labrador Retriever. Despite this, we will be leaving it in order to simplify this project.

Another general issue is that this field has inconsistent capitalization. Eventually, I will normalize all of the string fields so that they are all in lowercase.

## 3. Clean data

There are a few operations I plan to do before we begin the real cleaning:
1. Lowercase all strings
2. Lowercase all column names and remove spaces

Following that, we will address the four issues brought up during phase 2.

In [1698]:
# Make copies of the datasets to ensure the raw dataframes are not impacted
lf_df_clean = lf_df.copy()
reg_df_clean = reg_df.copy()

reg_df_clean.rename(columns=lambda x: x.strip().lower().replace(" ", ""), inplace=True)


for col in lf_df_clean.columns:
    lf_df_clean[col] = lf_df_clean[col].str.lower()

#lf_df_clean.rename(columns={"name": "animalname"}, inplace=True)

#reg_df_clean.index.rename(reg_df_clean.index.name.lower(), inplace=True)

for col in reg_df_clean.columns:
    if col == 'pitnumber': continue  # this is type float64

    reg_df_clean[col] = reg_df_clean[col].str.lower()

In [1699]:
lf_df_clean

,date,breed,color,name,sex,state
0,1999-01-03t00:00:00+00:00,rotty x shep,black & tan,tex,m/n,lost
1,1999-01-04t00:00:00+00:00,dog,light colour,None,m/n,found
2,1999-01-04t00:00:00+00:00,golden lab x,black & tan,oscar,m,lost
3,1999-01-04t00:00:00+00:00,shep x,black & tan,None,f,found
4,1999-01-04t00:00:00+00:00,shep x collie,black & tan,angel,f,lost
...,...,...,...,...,...,...
17850,2025-07-29t00:00:00+00:00,basenji,black & white body,winston,m/n,matched
17851,2025-07-29t00:00:00+00:00,cat - dlh - orange tabby,orange,celia,f,lost
17852,2025-07-29t00:00:00+00:00,pug/chihuahua x,tan,opie,m,lost
17853,2025-07-30t00:00:00+00:00,cat - dlh - calico,orange/white/black,olive,f/s,lost
17854,2025-07-30t00:00:00+00:00,cat - dsh - tuxedo,black & white,socks,m/n,lost

Now we'll validate...

In [1700]:
# Random sample of the lost and found table is all lowercase?
lf_df_clean.sample(1)

                           date   breed        color  name sex state
3472  2002-03-14t00:00:00+00:00  rottie  black & tan  None   m  lost

In [1701]:
# Random sample of the register table is all lowercase?
reg_df_clean.dropna().sample(1) # dropna will prevent NaN -> "NaN"

,breed,shotsdate,sex,receiptnumber,dateimpounded,pitnumber,name,kennelnumber,dispositiondate,color,code,approxweight,agecategory,source,status,aco
AnimalID,,,,,,,,,,,,,,,,
24169,labrador,2013-04-17,m/n,13-385870da,2013-05-09,20088.0,dooley,200,2013-07-10,tan,blue,70,young adult,transferred,sold,ke

In [1702]:
# All columns lowercase?
str(reg_df_clean.columns.tolist()).islower()

True

### **Quality Issue 1: to '&' or to 'and?'**

For the issue of inconsistent formatting in the lost and found data's `color` column, we will just remove the "&" and "and" strings, parsing the results out into a list. This gets it split out into something ready for us to access programatically right out of the gate.

This cleaning will be applied to both datasets, as I noticed that (understandably), the same issue exists within the register dataset.

We will need to start off by handling the null values in the `color` column, though, so that we don't have to repeat the same steps of converting it to an array with the second quality issue.

In [1703]:
# Getting ahead of ourselves a bit, but handling null color values
lf_df_clean.fillna({'color':'unknown'}, inplace=True)
reg_df_clean.fillna({'color':'unknown'}, inplace=True)

In [1704]:
# Replace " w/", "/", " and ", "&", " with " with "|", then split into array on "|"
pattern = r"( w\/| [^\w\s] | and |/| with )"
lf_df_clean['color'] = lf_df_clean['color'].str.replace(pat=pattern, repl="|", regex=True)
lf_df_clean['color'] = lf_df_clean['color'].str.split("|")

# The same thing, but for reg_df
reg_df_clean['color'] = reg_df_clean['color'].str.replace(pat=pattern, repl="|", regex=True)
# we aren't going to split, yet, as this will cause some errors with the next quality issue.

In [1705]:
# Validation cleaning succeeded for lost and found data
lf_df_clean['color'].sample(5)

13503    [greyish brown,  white]
7467                    [blonde]
13140              [grey, black]
5936                     [white]
1720                [black, tan]
Name: color, dtype: object

In [1706]:
# Validation on register data
reg_df_clean['color'].sample(5)

AnimalID
327           blk|tan
7339              tan
6773        black|tan
10042     black|white
35473    cream|yellow
Name: color, dtype: object

In [1707]:
# Further validation
# Before -> After
print(lf_df.iloc[372].color, "->", lf_df_clean.iloc[372].color)
print(lf_df.iloc[424].color, "->", lf_df_clean.iloc[424].color)
print(lf_df.iloc[439].color, "->", lf_df_clean.iloc[439].color)
print("\nSplitting reg_df_clean will happen later")
print(reg_df.iloc[372].Color, "->", reg_df_clean.iloc[372].color)
print(reg_df.iloc[424].Color, "->", reg_df_clean.iloc[424].color)
print(reg_df.iloc[439].Color, "->", reg_df_clean.iloc[439].color)

Reddish Blonde -> ['reddish blonde']
Cream  & Rust -> ['cream ', 'rust']
Grey & White & Black -> ['grey', 'white', 'black']

Splitting reg_df_clean will happen later
Black -> black
Black & White -> black|white
Brown -> brown

Justification: In order to normalize a large majority of the colors in these datasets, which makes them significantly easier to compare. It also will make our aggregation results a bit more reliable since there won't be differences in using "&" vs. "and."

### **Quality Issue 2: Handling Nulls and Duplicates**

There are lots of null values throughout the datasets, which then requires us to handle them specially. If we instead set them to a string, this will simplify life a tad. We also don't want duplicate values, as they are just redundant records. Thankfully, dupes are only in the register data.

We'll start by dropping what we don't want, being duplicates and a few columns that don't help answer our question.

In [1708]:
cols_to_drop = ['shotsdate','kennelnumber', 'pitnumber', 'code', 'aco']
reg_df_clean.drop(columns=cols_to_drop, axis=1, inplace=True)

In [1709]:
sub = reg_df_clean.columns.to_list()
sub.pop(sub.index('color'))
print(sub)

print("Pre-drop:\n", reg_df_clean[sub].duplicated().value_counts())
reg_df_clean.drop_duplicates(subset=sub, inplace=True)  # throws error when lists are included

# Prevent indexing disparity
# reg_df_clean.reset_index(inplace=True, drop=True)

['breed', 'sex', 'receiptnumber', 'dateimpounded', 'name', 'dispositiondate', 'approxweight', 'agecategory', 'source', 'status']
Pre-drop:
 False    25999
True       101
Name: count, dtype: int64

In [1710]:
sub = lf_df_clean.columns.to_list()
sub.pop(sub.index('color'))

print("Pre-drop:\n", lf_df_clean[sub].duplicated().value_counts())
lf_df_clean.drop_duplicates(subset=sub, inplace=True)  # throws error when lists are included

# Prevent indexing disparity
lf_df_clean.reset_index(inplace=True, drop=True)

Pre-drop:
 False    17828
True        27
Name: count, dtype: int64

Now we can validate that our changes did what we intended

In [1711]:
# Before -> After
print(reg_df.duplicated().any(), "->", reg_df_clean.duplicated().any())

True -> False

We'd get an error reporting that a list is not hashable if we tried to `drop_duplicates` or look for `duplicated` rows on a split `color` column. Since we have all of that handled, we can split it into a list now.

In [1712]:
reg_df_clean['color'] = reg_df_clean['color'].str.split("|")

In [1713]:
#FILL IN - Apply the cleaning strategy
lf_df_clean.fillna('unknown', inplace=True)
reg_df_clean.fillna('unknown', inplace=True)

In [1714]:
#FILL IN - Validate the cleaning was successful
reg_df_clean.isnull().any()

breed              False
sex                False
receiptnumber      False
dateimpounded      False
name               False
dispositiondate    False
color              False
approxweight       False
agecategory        False
source             False
status             False
dtype: bool

In [1715]:
lf_df_clean.isnull().any()

date     False
breed    False
color    False
name     False
sex      False
state    False
dtype: bool

Justification: Now that we have our nulls and duplicates handled, our data should be less tricky to work with, especially with aggregation, comparison, and enhancement.

### **Tidiness Issue 1: Multiple Animals in Some Rows**

This particular issue in the lost and found table, as I observed in the `breed` and `name` column, breaks the tidiness rule of "a single row for a single observation." It makes sense in terms of inputting the data into a record system that you would want this information in the same record, as that is also probably associated with a point of contact and it de-duplicates efforts, however it will not be helpful for our purposes. 

It's entirely possible that an animal was found separately from the second animal that was reported, or that they were input into the register as separate records. We'll clean up this issue by handling the `name` and `breed` column similarly to how we dealt with the `color` column.

We could handle the `color` column (since animals aren't always the same color), but that should have been done before during this step as well, however that was quality issue, not a tidiness issue, and this is a project for school. I presume that it's best to just leave things in this order and not stray even further from the template.

In [1716]:
# Save indices for future access/removal.
lf_df_index_amp = lf_df_clean[lf_df_clean['name'].str.contains(" & ")].index
lf_df_index_and = lf_df_clean[lf_df_clean['name'].str.contains(" and ")].index

In [1717]:
clean_and = lf_df_clean.iloc[lf_df_index_and]['name'].apply(lambda x: x.split(" and "))
clean_amp = lf_df_clean.iloc[lf_df_index_amp]['name'].apply(lambda x: x.split(" & "))

In [1718]:
# Before change implemented
print(lf_df_clean.iloc[227])
print(lf_df_clean.iloc[1142])

date     1999-04-10t00:00:00+00:00
breed        lab x collie x beagle
color             [two black dogs]
name                coco and wayne
sex                              m
state                        found
Name: 227, dtype: object
date     2000-02-07t00:00:00+00:00
breed                rottys-2 dogs
color                 [black, tan]
name               starsky & hutch
sex                            m/n
state                      matched
Name: 1142, dtype: object

In [1719]:
# Change + validation
lf_df_clean['name'].iloc[clean_and.index] = clean_and
print(lf_df_clean.iloc[227])

lf_df_clean['name'].iloc[clean_amp.index] = clean_amp
print(lf_df_clean.iloc[1142])

date     1999-04-10t00:00:00+00:00
breed        lab x collie x beagle
color             [two black dogs]
name                 [coco, wayne]
sex                              m
state                        found
Name: 227, dtype: object
date     2000-02-07t00:00:00+00:00
breed                rottys-2 dogs
color                 [black, tan]
name              [starsky, hutch]
sex                            m/n
state                      matched
Name: 1142, dtype: object

In [1720]:
lf_df_clean.iloc[227]

date     1999-04-10t00:00:00+00:00
breed        lab x collie x beagle
color             [two black dogs]
name                 [coco, wayne]
sex                              m
state                        found
Name: 227, dtype: object

In [1721]:
# Further validation 
print(lf_df_clean['name'].str.contains(" and ").any())
print(lf_df_clean['name'].str.contains(" & ").any())

False
False

Finally, we will need to split the rows that have list in `name` into separate rows, then reindex the entire dataframe.

In [1722]:
cols = lf_df_clean.columns.tolist()
cols.pop(cols.index("name"))
cols

['date', 'breed', 'color', 'sex', 'state']

In [1723]:
# Since lists aren't hashable, convert all color lists to strings
lf_df_clean.color = lf_df_clean.color.apply(lambda x: "|".join(x))

# Which allows us to maintain the data in a row even when we split it with explode()
lf_df_clean.set_index(cols, inplace=True)

In [1724]:
lf_df_clean

                                                                                      name
date                      breed                    color              sex state
1999-01-03t00:00:00+00:00 rotty x shep             black|tan          m/n lost         tex
1999-01-04t00:00:00+00:00 dog                      light colour       m/n found    unknown
                          golden lab x             black|tan          m   lost       oscar
                          shep x                   black|tan          f   found    unknown
                          shep x collie            black|tan          f   lost       angel
...                                                                                    ...
2025-07-29t00:00:00+00:00 basenji                  black|white body   m/n matched  winston
                          cat - dlh - orange tabby orange             f   lost       celia
                          pug/chihuahua x          tan                m   lost        opie
2025-07-30t00:00:00+00:00 cat - dlh - calico       orange|white|black f/s lost       olive
                          cat - dsh - tuxedo       black|white        m/n lost       socks

[17828 rows x 1 columns]

In [1740]:
# Turn list of names into separate rows using explode
lf_df_clean = lf_df_clean.explode('name')
lf_df_clean.iloc[227:230]  # both rows will have the same index

,date,breed,color,sex,state,name
227,1999-04-10t00:00:00+00:00,lab x collie x beagle,[two black dogs],m,found,coco
228,1999-04-10t00:00:00+00:00,lab x collie x beagle,[two black dogs],m,found,wayne
229,1999-04-10t00:00:00+00:00,maltipoo,"[black, white]",m,lost,barney

In [1726]:
lf_df_clean.reset_index(inplace=True)  # Revert changes and retain columns for all rows
lf_df_clean.color = lf_df_clean.color.apply(lambda x: x.split("|")) # Re-cast color as a list

In [1737]:
# Validation
lf_df_clean.iloc[227:230]

,date,breed,color,sex,state,name
227,1999-04-10t00:00:00+00:00,lab x collie x beagle,[two black dogs],m,found,coco
228,1999-04-10t00:00:00+00:00,lab x collie x beagle,[two black dogs],m,found,wayne
229,1999-04-10t00:00:00+00:00,maltipoo,"[black, white]",m,lost,barney

In [1739]:
# Confirming color was changed back to a list
type(lf_df_clean.iloc[0].color)

list

In [1425]:
# Previously, the name field for Coco and Wayne looked like this
clean_and.iloc[0]

['coco', 'wayne']

Justification: Now, we are no longer storing two dogs in one row, thus making this data just a bit tidier. By splitting with the somewhat highly prevalent usage of "&" and "and," we are able to get closer to a more accurate count of how many dogs were reported lost, as well as more easily allowing us to join based on the `name` column.

One limitation with this approach is that we are not doing anything about the color for the specific animal we split out into a new row. If we addressed this issue before we handled `color` in the quality steps, we may be able to have the correct color for each animal, rather than a list of colors in for two animals. I do not forsee this causing many issues as we will be using more than just a color to try and match animals when I combine the data.

### **Tidiness Issue 2: Tracking Multiple Variables in One Column**

In the register dataset, there are multiple occurences of the string "(New name)." I'd consider this a different variable that could be represented in a separate column, since it isn't part of there name. Rather, it is an aspect or quality of the name. In our case, however, we are just doing to remove every occurence of that "(New name)" string.

A similar issue comes up in the `breed` column, where we see "`X`" in place of "`mix`" and strings like "`Black Lab`". I will split out the "`mix`" portion into another column to reduce the number of unique `breed` strings.

In [1808]:
# Remove undesired strings and replace if necessary
lf_df_clean['breed'] = lf_df_clean['breed'].str.replace("\s[xX]", " mix", regex=True)
lf_df_clean['name'] = lf_df_clean['name'].str.replace("\(?[Nn]ew [Nn]ame\)?", "", regex=True)

lf_df_clean['breed'] = lf_df_clean['breed'].str.strip()
lf_df_clean['name'] = lf_df_clean['name'].str.strip()

In [1809]:
# Validate the cleaning was successful
print(lf_df_clean['breed'].str.contains("\s[xX]", regex=True).any())
print(lf_df_clean['name'].str.contains("[Nn]ew [Nn]ame", regex=True).any())

False
False

Justification: We removed the additional variable in the `name` column denoting a given animal's name as a "new name", which removes likely superfluous information and simplifys the handling of a large majority of names. 

By expanding the shorthand used for "mix" in the `breed` column, we somewhat address the tidiness issue where the breed column is storing multiple variables in the multiple breeds. There are better ways to address this that would take more cycles of cleaning, but now "mix" can act as a sort of flag for further operations. Given more time, I would create 2 more columns: one for `primary_breed` column, and `mix_breed` column that lists the other mixes (or `none` for purebred, `unknown` for "mutts").

Both of these actions aid in answering our question because they prevent potential false negatives due to the "new name" string, as well as give us a string to ignore when matching, but to review when manually investigating results with the "mix" string. Effectively, it lets us ignore just "mix" instead of both it and " x" or " X".

### **A few extra bits of cleaning**

In [ ]:
# Conforming to one date format by trimming off at and after the "T" for ISO 8601

## 4. Update your data store
Update your local database/data store with the cleaned data, following best practices for storing your cleaned data:

- Must maintain different instances / versions of data (raw and cleaned data)
- Must name the dataset files informatively
- Ensure both the raw and cleaned data is saved to your database/data store

In [ ]:
#FILL IN - saving data

## 5. Answer the research question

### **5.1:** Define and answer the research question 
Going back to the problem statement in step 1, use the cleaned data to answer the question you raised. Produce **at least** two visualizations using the cleaned data and explain how they help you answer the question.

*Research question:* FILL IN from answer to Step 1

In [ ]:
#Visual 1 - FILL IN

*Answer to research question:* FILL IN